<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mefisto Theatre Company</title>
    <link rel="icon" type="image/x-icon" href="~/Images/favicon/favicon.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        .nav-link:hover{
            color: red !important
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <a href="@Url.Action("Index", "Home")">
                <img src="@Url.Content("~/Images/favicon/favicon-32x32.png")" alt="Logo" style="border-radius: 25px;">
            </a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 fs-5 nav-red">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Blogs", "GetBlogs", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Admin Dashboard", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        if (User.IsInRole("Staff"))
                        {
                            <li>@Html.ActionLink("My Posts", "Index", "Staff", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Create a Post", "Create", "Staff", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        if (User.IsInRole("Moderator"))
                        {
                            <li>@Html.ActionLink("Mod Dashboard", "Index", "Moderator", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="d-flex justify-content-between">
                <p>Created by Mark McMillan</p>
                <p>&copy; @DateTime.Now.Year - Mefisto Theatre Company</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
