@model M_McMillan_Assessment_2.Models.ViewModels.RoleViewModel

@{
    ViewBag.Title = "Create new Role";
}

<h2>Create new Role: </h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <h5>Role Name: </h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-outline-secondary mt-3" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Users", "Index", null, htmlAttributes: new { @class = "btn btn-outline-secondary mt-3 mb-3"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
