@model IEnumerable<M_McMillan_Assessment_2.Models.Post>
@using M_McMillan_Assessment_2.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "GetBlogs";
}

@foreach (var item in ViewBag.Categories)
            {
                <b>@item.CategoryName | </b>
            }
<br />
<hr />

@using (Html.BeginForm())
{
    <p>
        Find Posts by Category: @Html.TextBox("SearchString")

        <input type="submit" value="Search" class="btn btn-outline-primary "  />
    </p>
}

@if (User.IsInRole("Admin") || User.IsInRole("Moderator") || User.IsInRole("Staff"))
            {
                @Html.ActionLink("Create Post", "Create", "Staff", null, htmlAttributes: new { @class = "btn btn-outline-secondary mt-2 "})
            }
<br />
<hr />

<div class="container d-flex flex-column align-items-center">
    @foreach (var item in Model)
    {
        <div class="card mb-3 w-50">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">Posted by @Html.DisplayFor(modelItem => item.Employee.FirstName) </p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text"><small class="text-muted">Posted on @Html.DisplayFor(modelItem => item.DatePosted)</small></p>
                    @if (item.DateEdited != null)
                    {
                        <p class="card-text"><small class="text-muted">Edited on @Html.DisplayFor(modelItem => item.DateEdited)</small></p>
                    }
                    @if (item.Comments.Count() > 1) 
                    { 
                        <p class="card-text"><small class="text-muted">@item.Comments.Count() comments</small></p>
                    }
                    else
                    {
                        <p class="card-text"><small class="text-muted">@item.Comments.Count() comment</small></p>
                    }
                    <div style="float: right;">
                        @Html.ActionLink("Details", "Details", new { id = item.PostId }, htmlAttributes: new { @class = "btn btn-sm btn-outline-secondary" })

                        @if (!Request.IsAuthenticated)
                        {
                            @Html.ActionLink("Log in to Comment", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-sm btn-outline-secondary " })
                        }
                        
                        @if (Request.IsAuthenticated)
                        {
                            if (User.IsInRole("Suspended"))
                            {
                                <p class="text-danger">You are not allowed to make comments.</p>
                            }
                            else
                            {
                                @Html.ActionLink("Comment", "Comment", "Member", new { id = item.PostId }, htmlAttributes: new { @class = "btn btn-sm btn-outline-secondary" })
                            }
                        }
                    </div>
                </div>
            </div>
    }
</div>
